
<div class="example-container mat-elevation-z8">

    <div class="example-table-container">

        <mat-form-field>
            <mat-label>Filter</mat-label>
            <input matInput (input)="applyFilter($event)" placeholder="Search" #input>
        </mat-form-field>
          
        <table mat-table [dataSource]="interventions" matSort matSortActive="nbr"
            matSortDirection="desc">
            <!-- Number Column -->

            <!-- Title Column -->
            <ng-container matColumnDef="surgeon">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Nom du chirurgien</th>
                <td mat-cell *matCellDef="let row">{{row.surgeon}}</td>
            </ng-container>

            <!-- State Column -->
            <ng-container matColumnDef="specialty">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Spécialité</th>
                <td mat-cell *matCellDef="let row">{{row.specialty}}</td>
            </ng-container>

            <!-- State Column -->
            <ng-container matColumnDef="nbr">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre d’interventions</th>
                <td mat-cell *matCellDef="let row">{{row.interventionsNumber}}</td>
            </ng-container>

            <!-- State Column -->
            <ng-container matColumnDef="anesthsiste">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Anesthésiste favori</th>
                <td mat-cell *matCellDef="let row">{{row.anesthsiste}}</td>
            </ng-container>

            <!-- State Column -->
            <ng-container matColumnDef="nurse1">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Infirmière favorite</th>
                <td mat-cell *matCellDef="let row">{{row.nurse1}}</td>
            </ng-container>

            <!-- State Column -->
            <ng-container matColumnDef="roomNumber">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Salle la plus fréquente</th>
                <td mat-cell *matCellDef="let row">{{row.roomNumber}}</td>
            </ng-container>

            <!-- State Column -->
            <ng-container matColumnDef="intervention">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Acte le plus fréquent </th>
                <td mat-cell *matCellDef="let row">{{row.intervention}}</td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>

     <mat-paginator [length]="resultsLength" [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="10"></mat-paginator>
</div>